body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5f3f7;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin: 20px;
}

nav{
    background-color: #5c2d7a;
    padding: 15px 0;
    text-align: center;
}

nav ul{
       list-style: none;
       padding: 0;
       margin: 0;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
}

.txt{
    max-width: 100%;
}
.txt h1{
    color: #5c2d7a;
    font-size: 36px;
}
.txt p{
    color: #5c2d7a;
    font-size: 18px;
    line-height: 1.5;
}



.img1{
    max-width: 100%;
    text-align: center;
    text-align: right;
    
}
.img1 img{
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width: 1024px){
    body{
        font-size: 16px;
        margin: 15px;
    }
    
}
@media screen and (max-width: 768px){
    body{
        font-size: 14px;
        margin: 10px;
    }
    
}
@media screen and (max-width: 480px){
    body{
        font-size: 12px;
        margin: 5px;
    }
    
}

#Contact-page{
    background-color: #eee9f0;
    font-family: 'Times New Roman', Times, serif;    margin: 0;
    padding: 0;
    font-size: 15px;
    margin: 20px;
}
.Contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Contact-box{
    background-color: #c1aec9;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
    color: #3e0f5c;
    width: 340px;
}
.Contact-item{
    color: #3e0f5c;
    text-decoration: none;
    font-size: 25px;
    display-botton: 10px;
}
.Contact-item:hover{
    text-decoration: underline;
}
/* .Contact-item-linkedin{
    color: #3e0f5c;
    text-decoration: none;
    font-size: 24px;
    display-botton: 10px;
    color: #0077b5;

} */

